In [46]:
import pandas as pd

data_nueva = pd.read_csv('data/GoodReads_100k_books.csv')
data_nueva.head()

,author,bookformat,desc,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalratings
0,Laurence M. Hauptman,Hardcover,Reveals that several hundred thousand Indians ...,"History,Military History,Civil War,American Hi...",https://i.gr-assets.com/images/S/compressed.ph...,002914180X,9.78E+12,https://goodreads.com/book/show/1001053.Betwee...,0,3.52,5,Between Two Fires: American Indians in the Civ...,33
1,"Charlotte Fiell,Emmanuelle Dirix",Paperback,Fashion Sourcebook - 1920s is the first book i...,"Couture,Fashion,Historical,Art,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,1906863482,9.78E+12,https://goodreads.com/book/show/10010552-fashi...,576,4.51,6,Fashion Sourcebook 1920s,41
2,Andy Anderson,Paperback,The seminal history and analysis of the Hungar...,"Politics,History",https://i.gr-assets.com/images/S/compressed.ph...,948984147,9.78E+12,https://goodreads.com/book/show/1001077.Hungar...,124,4.15,2,Hungary 56,26
3,Carlotta R. Anderson,Hardcover,"""All-American Anarchist"" chronicles the life a...","Labor,History",https://i.gr-assets.com/images/S/compressed.ph...,814327079,9.78E+12,https://goodreads.com/book/show/1001079.All_Am...,324,3.83,1,All-American Anarchist: Joseph A. Labadie and ...,6
4,Jean Leveille,NaN,"Aujourdâ€™hui, lâ€™oiseau nous invite Ã sa ta...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,2761920813,NaN,https://goodreads.com/book/show/10010880-les-o...,177,4.00,1,Les oiseaux gourmands,1

In [47]:
data_nueva.dropna(subset=['desc'], inplace=True)
data_nueva.isnull().sum()

author              0
bookformat       1732
desc                0
genre            7743
img              1240
isbn            12432
isbn13           9458
link                0
pages               0
rating              0
reviews             0
title               0
totalratings        0
dtype: int64

In [48]:
data_meli = pd.read_csv('data/books.csv')
data_meli.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [49]:
data_meli.dropna(subset=['description'], inplace=True)
data_meli.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4257
authors             65
categories          37
thumbnail          222
description          0
published_year       5
average_rating      37
num_pages           37
ratings_count       37
dtype: int64

In [50]:
data2 = pd.read_csv('data/books2.csv')
data2.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [51]:
data2.drop(columns=['image_url','small_image_url'])

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,eng,4.09,17204,18856,1180,105,575,3538,7860,6778
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,eng,4.25,12582,12952,395,303,551,1737,3389,6972
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,eng,4.35,9421,10733,374,11,111,1191,4240,5180
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,eng,3.65,11279,11994,1988,275,1002,3765,4577,2375
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,NaN,4.00,9162,9700,364,117,345,2031,4138,3069

In [52]:
import numpy as np
data2['description'] = np.nan
data2['description'].isnull().sum()

10000

In [53]:
data2.drop_duplicates(subset='isbn13', keep='first', inplace=True)
data2.drop_duplicates(subset='title', keep='first', inplace=True)
data2.drop_duplicates(subset='isbn', keep='first', inplace=True)

In [54]:
book_data = pd.read_csv('data/book_data.csv')
book_data.head()

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Suzanne Collins,Winning will make you famous. Losing means cer...,NaN,Hardcover,9.78044E+12,374 pages,4.33,5519135,160706,The Hunger Games,Young Adult|Fiction|Science Fiction|Dystopia|F...,https://images.gr-assets.com/books/1447303603l...
1,J.K. Rowling|Mary GrandPré,There is a door at the end of a silent corrido...,US Edition,Paperback,9.78044E+12,870 pages,4.48,2041594,33264,Harry Potter and the Order of the Phoenix,Fantasy|Young Adult|Fiction,https://images.gr-assets.com/books/1255614970l...
2,Harper Lee,The unforgettable novel of a childhood in a sl...,50th Anniversary,Paperback,9.78006E+12,324 pages,4.27,3745197,79450,To Kill a Mockingbird,Classics|Fiction|Historical|Historical Fiction...,https://images.gr-assets.com/books/1361975680l...
3,Jane Austen|Anna Quindlen|Mrs. Oliphant|George...,«È cosa ormai risaputa che a uno scapolo in po...,"Modern Library Classics, USA / CAN",Paperback,9.78068E+12,279 pages,4.25,2453620,54322,Pride and Prejudice,Classics|Fiction|Romance,https://images.gr-assets.com/books/1320399351l...
4,Stephenie Meyer,About three things I was absolutely positive.F...,NaN,Paperback,9.78032E+12,498 pages,3.58,4281268,97991,Twilight,Young Adult|Fantasy|Romance|Paranormal|Vampire...,https://images.gr-assets.com/books/1361039443l...

In [55]:
book_data.drop_duplicates(subset='book_title', keep='first', inplace=True)

# concateno

In [56]:
book_data['isbn'] = np.NaN

In [57]:
data_nueva.drop(columns=['bookformat', 'img','link', 'rating', 'reviews', 'totalratings'], inplace=True)
data_meli.drop(columns=['subtitle','thumbnail','published_year', 'average_rating', 'ratings_count'], inplace=True)
book_data.drop(columns=['book_edition', 'book_format', 'book_rating', 'book_rating_count', 'book_review_count', 'image_url'], inplace=True)

In [58]:
data_nueva.rename(columns={'desc': 'description', 'author':'authors'}, inplace=True)
data_meli.rename(columns={'isbn10': 'isbn','num_pages':'pages','categories':'genre'}, inplace=True)
book_data.rename(columns={'book_authors':'authors', 'book_desc':'description', 'book_isbn':'isbn13', 'book_title':'title','book_pages':'pages','genres':'genre'}, inplace=True)

In [59]:
concatenated_df = pd.concat([book_data, data_nueva, data_meli])
concatenated_df

,authors,description,isbn13,pages,title,genre,isbn
0,Suzanne Collins,Winning will make you famous. Losing means cer...,9.78044E+12,374 pages,The Hunger Games,Young Adult|Fiction|Science Fiction|Dystopia|F...,NaN
1,J.K. Rowling|Mary GrandPré,There is a door at the end of a silent corrido...,9.78044E+12,870 pages,Harry Potter and the Order of the Phoenix,Fantasy|Young Adult|Fiction,NaN
2,Harper Lee,The unforgettable novel of a childhood in a sl...,9.78006E+12,324 pages,To Kill a Mockingbird,Classics|Fiction|Historical|Historical Fiction...,NaN
3,Jane Austen|Anna Quindlen|Mrs. Oliphant|George...,«È cosa ormai risaputa che a uno scapolo in po...,9.78068E+12,279 pages,Pride and Prejudice,Classics|Fiction|Romance,NaN
4,Stephenie Meyer,About three things I was absolutely positive.F...,9.78032E+12,498 pages,Twilight,Young Adult|Fantasy|Romance|Paranormal|Vampire...,NaN
...,...,...,...,...,...,...,...
6803,Hermann Hesse,This book tells the tale of a man who goes on ...,9788173031014,175.0,Journey to the East,Adventure stories,8173031010
6804,Robin Sharma,"Wisdom to Create a Life of Passion, Purpose, a...",9788179921623,198.0,The Monk Who Sold His Ferrari: A Fable About F...,Health & Fitness,817992162X
6805,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,This collection of the timeless teachings of o...,9788185300535,531.0,I Am that,Philosophy,8185300534
6808,Georg Wilhelm Friedrich Hegel,Since the three volume edition ofHegel's Philo...,9789027712059,210.0,The Berlin Phenomenology,History,9027712050
6809,Helena Grice;Tim Woods,This is a jubilant and rewarding collection of...,9789042003408,136.0,'I'm Telling You Stories',Literary Criticism,9042003405

In [60]:
concatenated_df.loc[concatenated_df['pages'].str.contains('pages', na=False), 'pages'] = concatenated_df.loc[concatenated_df['pages'].str.contains('pages', na=False), 'pages'].str.extract('(\d+)', expand=False).astype(int)
concatenated_df

,authors,description,isbn13,pages,title,genre,isbn
0,Suzanne Collins,Winning will make you famous. Losing means cer...,9.78044E+12,374,The Hunger Games,Young Adult|Fiction|Science Fiction|Dystopia|F...,NaN
1,J.K. Rowling|Mary GrandPré,There is a door at the end of a silent corrido...,9.78044E+12,870,Harry Potter and the Order of the Phoenix,Fantasy|Young Adult|Fiction,NaN
2,Harper Lee,The unforgettable novel of a childhood in a sl...,9.78006E+12,324,To Kill a Mockingbird,Classics|Fiction|Historical|Historical Fiction...,NaN
3,Jane Austen|Anna Quindlen|Mrs. Oliphant|George...,«È cosa ormai risaputa che a uno scapolo in po...,9.78068E+12,279,Pride and Prejudice,Classics|Fiction|Romance,NaN
4,Stephenie Meyer,About three things I was absolutely positive.F...,9.78032E+12,498,Twilight,Young Adult|Fantasy|Romance|Paranormal|Vampire...,NaN
...,...,...,...,...,...,...,...
6803,Hermann Hesse,This book tells the tale of a man who goes on ...,9788173031014,175.0,Journey to the East,Adventure stories,8173031010
6804,Robin Sharma,"Wisdom to Create a Life of Passion, Purpose, a...",9788179921623,198.0,The Monk Who Sold His Ferrari: A Fable About F...,Health & Fitness,817992162X
6805,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,This collection of the timeless teachings of o...,9788185300535,531.0,I Am that,Philosophy,8185300534
6808,Georg Wilhelm Friedrich Hegel,Since the three volume edition ofHegel's Philo...,9789027712059,210.0,The Berlin Phenomenology,History,9027712050
6809,Helena Grice;Tim Woods,This is a jubilant and rewarding collection of...,9789042003408,136.0,'I'm Telling You Stories',Literary Criticism,9042003405

In [61]:
concatenated_df.title.nunique()

134726

In [62]:
concatenated_df.drop_duplicates(subset='title', keep='first', inplace=True)

In [63]:
concatenated_df['genre']=concatenated_df['genre'].str.replace("|", ",")

C:\Users\alejo\AppData\Local\Temp\ipykernel_18776\2474359415.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  concatenated_df['genre']=concatenated_df['genre'].str.replace("|", ",")

In [64]:
genre_counts = concatenated_df['genre'].str.split(',').explode().str.strip().value_counts()
genre_counts

Fiction                    45625
Romance                    41332
Fantasy                    40203
Nonfiction                 34664
Historical                 23789
                           ...
Dead                           1
High schools                   1
Obesity                        1
Luxemburg                      1
Indic fiction (English)        1
Name: genre, Length: 1457, dtype: int64

In [65]:
ordered_genres = genre_counts.index.tolist()

concatenated_df['genre_ordenado'] = concatenated_df['genre'].apply(lambda x: ', '.join(sorted(str(x).split(','), key=lambda g: ordered_genres.index(g.strip())) if isinstance(x, str) else ''))

In [66]:
concatenated_df[['genre_ordenado','genre']]

,genre_ordenado,genre
0,"Fiction, Fantasy, Young Adult, Science Fiction...","Young Adult,Fiction,Science Fiction,Dystopia,F..."
1,"Fiction, Fantasy, Young Adult","Fantasy,Young Adult,Fiction"
2,"Fiction, Historical, Historical Fiction, Class...","Classics,Fiction,Historical,Historical Fiction..."
3,"Fiction, Romance, Classics","Classics,Fiction,Romance"
4,"Fiction, Romance, Fantasy, Fantasy, Young Adul...","Young Adult,Fantasy,Romance,Paranormal,Vampire..."
...,...,...
6803,Adventure stories,Adventure stories
6804,Health & Fitness,Health & Fitness
6805,Philosophy,Philosophy
6808,History,History
6809,Literary Criticism,Literary Criticism

In [67]:
genre_columns = concatenated_df["genre_ordenado"].str.split(",", expand=True)
genre_columns = genre_columns.iloc[:, :4]  

concatenated_df = pd.concat([concatenated_df, genre_columns], axis=1)

In [68]:
data2.loc[data2['description'].isnull(),'title']= data2.loc[data2['description'].isnull(),'title'].apply(lambda x: x.split('(', 1)[0].strip() if '(' in x else x)
data2.loc[data2['description'].isnull(),'title']

0                                        The Hunger Games
1                   Harry Potter and the Sorcerer's Stone
2                                                Twilight
3                                   To Kill a Mockingbird
4                                        The Great Gatsby
                              ...
9995                                           Bayou Moon
9996                                      Means of Ascent
9997                                The Mauritius Command
9998    Cinderella Ate My Daughter: Dispatches from th...
9999                                  The First World War
Name: title, Length: 8991, dtype: object

In [69]:
concatenated_df.rename(columns = {0:'genero_1'}, inplace = True)
concatenated_df.rename(columns = {1:'genero_2'}, inplace = True)
concatenated_df.rename(columns = {2:'genero_3'}, inplace = True)
concatenated_df.rename(columns = {3:'genero_4'}, inplace = True)

In [70]:
merged_df = data2.merge(concatenated_df[['title', 'description','pages', 'genre', 'genre_ordenado','genero_1','genero_2','genero_3','genero_4']], on='title', how='left')
merged_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,small_image_url,description_x,description_y,pages,genre,genre_ordenado,genero_1,genero_2,genero_3,genero_4
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,https://images.gr-assets.com/books/1447303603s...,NaN,Winning will make you famous. Losing means cer...,374,"Young Adult,Fiction,Science Fiction,Dystopia,F...","Fiction, Fantasy, Young Adult, Science Fiction...",Fiction,Fantasy,Young Adult,Science Fiction
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,https://images.gr-assets.com/books/1474154022s...,NaN,Harry Potter's life is miserable. His parents ...,320,"Fantasy,Young Adult,Fiction","Fiction, Fantasy, Young Adult",Fiction,Fantasy,Young Adult,None
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,https://images.gr-assets.com/books/1361039443s...,NaN,About three things I was absolutely positive.F...,498,"Young Adult,Fantasy,Romance,Paranormal,Vampire...","Fiction, Romance, Fantasy, Fantasy, Young Adul...",Fiction,Romance,Fantasy,Fantasy
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,https://images.gr-assets.com/books/1361975680s...,NaN,The unforgettable novel of a childhood in a sl...,324,"Classics,Fiction,Historical,Historical Fiction...","Fiction, Historical, Historical Fiction, Class...",Fiction,Historical,Historical Fiction,Classics
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,https://images.gr-assets.com/books/1490528560s...,NaN,Alternate Cover Edition ISBN: 0743273567 (ISBN...,180,"Classics,Fiction,Academic,School,Literature,Hi...","Fiction, Romance, Historical, Young Adult, Lit...",Fiction,Romance,Historical,Young Adult

In [71]:
merged_df.isnull().sum()

id                              0
book_id                         0
best_book_id                    0
work_id                         0
books_count                     0
isbn                            1
isbn13                          1
authors                         0
original_publication_year      18
original_title                427
title                           0
language_code                1010
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
image_url                       0
small_image_url                 0
description_x                8991
description_y                1146
pages                        1141
genre                        1123
genre_ordenado               1121
genero_1                     1121
genero_2                     1196
genero_3                     1340
genero_4                     1941
dtype: int64

In [72]:
concatenated_df_sin_merge = concatenated_df[~concatenated_df['title'].isin(merged_df['title'])].copy()
concatenated_df_sin_merge

,authors,description,isbn13,pages,title,genre,isbn,genre_ordenado,genero_1,genero_2,genero_3,genero_4
38,William Goldman,What happens when the most beautiful girl in t...,9.78035E+12,398,The Princess Bride,"Fantasy,Fiction,Classics,Romance,Humor,Young A...",NaN,"Fiction, Romance, Fantasy, Young Adult, Classi...",Fiction,Romance,Fantasy,Young Adult
56,Vladimir Nabokov|Craig Raine,"Humbert Humbert - scholar, aesthete and romant...",NaN,417,Lolita,"Classics,Fiction,Literature",NaN,"Fiction, Literature, Classics",Fiction,Literature,Classics,None
73,Betty Smith,The beloved American classic about a young gir...,9.78006E+12,496,A Tree Grows in Brooklyn,"Classics,Fiction,Historical,Historical Fiction...",NaN,"Fiction, Historical, Young Adult, Historical F...",Fiction,Historical,Young Adult,Historical Fiction
116,Eric Carle,"THE all-time classic picture book, from genera...",9.78024E+12,26,The Very Hungry Caterpillar,"Childrens,Picture Books,Childrens",NaN,"Childrens, Childrens, Picture Books",Childrens,Childrens,Picture Books,None
142,Reduced Shakespeare Company|Jess Borgeson|Adam...,Revised from the rather long original complete...,9.78156E+12,137,The Compleat Works of Wllm Shkspr (abridged),"Plays,Classics,Humor,Fiction,Drama,Plays,Theatre",NaN,"Fiction, Classics, Humor, Drama, Plays, Plays,...",Fiction,Classics,Humor,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...
6803,Hermann Hesse,This book tells the tale of a man who goes on ...,9788173031014,175.0,Journey to the East,Adventure stories,8173031010,Adventure stories,Adventure stories,None,None,None
6804,Robin Sharma,"Wisdom to Create a Life of Passion, Purpose, a...",9788179921623,198.0,The Monk Who Sold His Ferrari: A Fable About F...,Health & Fitness,817992162X,Health & Fitness,Health & Fitness,None,None,None
6805,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,This collection of the timeless teachings of o...,9788185300535,531.0,I Am that,Philosophy,8185300534,Philosophy,Philosophy,None,None,None
6808,Georg Wilhelm Friedrich Hegel,Since the three volume edition ofHegel's Philo...,9789027712059,210.0,The Berlin Phenomenology,History,9027712050,History,History,None,None,None
6809,Helena Grice;Tim Woods,This is a jubilant and rewarding collection of...,9789042003408,136.0,'I'm Telling You Stories',Literary Criticism,9042003405,Literary Criticism,Literary Criticism,None,None,None

In [73]:
concatenated_df_sin_merge.isnull().sum()

authors              44
description        1273
isbn13            19009
pages              2310
title                 0
genre             10772
isbn              51760
genre_ordenado        0
genero_1              0
genero_2          19100
genero_3          27825
genero_4          36196
dtype: int64

In [74]:
concatenated_df_sin_merge.drop(columns=['isbn','isbn13'], inplace=True)
concatenated_df_sin_merge.dropna(subset=['genero_4'], inplace=True)
concatenated_df_sin_merge.dropna(subset=['description'], inplace=True)
concatenated_df_sin_merge.dropna(subset=['pages'], inplace=True)
concatenated_df_sin_merge.isnull().sum()

authors           0
description       0
pages             0
title             0
genre             0
genre_ordenado    0
genero_1          0
genero_2          0
genero_3          0
genero_4          0
dtype: int64

In [75]:
concatenated_df_sin_merge.shape

(89409, 10)

In [76]:
# guardo los libros de los otros datasets concatenados, ya procesado pero no tienen ratings
concatenated_df_sin_merge.to_csv('data/df_libros_sin_rating.csv')

# Ultimos ajustes sobre el df final

In [77]:
merged_df.drop(columns=['best_book_id', 'work_id', 'image_url','small_image_url', 'description_x'], inplace=True)

In [78]:
merged_df.isnull().sum()

id                              0
book_id                         0
books_count                     0
isbn                            1
isbn13                          1
authors                         0
original_publication_year      18
original_title                427
title                           0
language_code                1010
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
description_y                1146
pages                        1141
genre                        1123
genre_ordenado               1121
genero_1                     1121
genero_2                     1196
genero_3                     1340
genero_4                     1941
dtype: int64

In [79]:
merged_df.dropna(subset= ['genero_4', 'description_y','pages','isbn'],inplace=True)
merged_df.isnull().sum()

id                             0
book_id                        0
books_count                    0
isbn                           0
isbn13                         0
authors                        0
original_publication_year      8
original_title               295
title                          0
language_code                702
average_rating                 0
ratings_count                  0
work_ratings_count             0
work_text_reviews_count        0
ratings_1                      0
ratings_2                      0
ratings_3                      0
ratings_4                      0
ratings_5                      0
description_y                  0
pages                          0
genre                          0
genre_ordenado                 0
genero_1                       0
genero_2                       0
genero_3                       0
genero_4                       0
dtype: int64

In [80]:
from langdetect import detect

# Define una función para detectar el idioma de un texto
def detect_language(text):
    try:
        language = detect(text)
        return language
    except Exception as e:
        print(f"Error al detectar el idioma: {e}")
        return "No detectado"

# Aplica la detección de idioma a la columna 'descripcion'
merged_df["description_y"] = merged_df["description_y"].astype(str)
merged_df.loc[merged_df['language_code'].isnull(),'language_code'] = merged_df.loc[merged_df['language_code'].isnull(),'description_y'].apply(detect_language)

In [81]:
merged_df['language_code'] = merged_df['language_code'].apply(lambda x: 'eng' if 'en' in x else x)

In [82]:
merged_df.loc[merged_df['original_title'].isnull(), 'original_title'] = merged_df.loc[merged_df['original_title'].isnull(), 'title']

In [83]:
publication_year_to_fill = merged_df.loc[merged_df['original_publication_year'].isnull(), 'title']

In [84]:
merged_df.rename(columns = {'description_y':'description'}, inplace = True)

In [85]:
titles_sin_year = merged_df.loc[merged_df.original_publication_year.isnull(), 'title'].tolist()
titles_sin_year

['Twilight: The Complete Illustrated Movie Companion',
 'Absolute Boyfriend, Vol. 1',
 'The Doomsday Key',
 'The 8th Habit: From Effectiveness to Greatness',
 'A Tale of Two Cities / Great Expectations',
 'The Worst Witch',
 'Trouble Is My Business',
 'Become a Better You: 7 Keys to Improving Your Life Every Day']

In [86]:
publication_years = [2008, 2003, 2009, 2004, 1861, 1974, 1939, 2007]

In [87]:
for title, year in zip(titles_sin_year, publication_years):
    merged_df.loc[merged_df['title'] == title, 'original_publication_year'] = year

In [88]:
merged_df

,id,book_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,...,ratings_4,ratings_5,description,pages,genre,genre_ordenado,genero_1,genero_2,genero_3,genero_4
0,1,2767052,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,The Hunger Games,eng,...,1481305,2706317,Winning will make you famous. Losing means cer...,374,"Young Adult,Fiction,Science Fiction,Dystopia,F...","Fiction, Fantasy, Young Adult, Science Fiction...",Fiction,Fantasy,Young Adult,Science Fiction
2,3,41865,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,Twilight,eng,...,875073,1355439,About three things I was absolutely positive.F...,498,"Young Adult,Fantasy,Romance,Paranormal,Vampire...","Fiction, Romance, Fantasy, Fantasy, Young Adul...",Fiction,Romance,Fantasy,Fantasy
3,4,2657,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,eng,...,1001952,1714267,The unforgettable novel of a childhood in a sl...,324,"Classics,Fiction,Historical,Historical Fiction...","Fiction, Historical, Historical Fiction, Class...",Fiction,Historical,Historical Fiction,Classics
4,5,4671,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,eng,...,936012,947718,Alternate Cover Edition ISBN: 0743273567 (ISBN...,180,"Classics,Fiction,Academic,School,Literature,Hi...","Fiction, Romance, Historical, Young Adult, Lit...",Fiction,Romance,Historical,Young Adult
5,6,11870085,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,The Fault in Our Stars,eng,...,698471,1311871,Despite the tumor-shrinking medical miracle th...,313,"Young Adult,Fiction,Romance,Contemporary","Fiction, Romance, Young Adult, Contemporary",Fiction,Romance,Young Adult,Contemporary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8985,9995,15613,199,1416523723,9.781417e+12,Herman Melville,1924.0,"Billy Budd, Sailor","Billy Budd, Sailor",eng,...,2985,1617,A handsome young sailor is unjustly accused of...,160,"Classics,Fiction,Literature,Historical,Histori...","Fiction, Historical, Literature, Literature, H...",Fiction,Historical,Literature,Literature
8986,9996,7130616,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,Bayou Moon,eng,...,7860,6778,"The Edge lies between worlds, on the border be...",447,"Fantasy,Urban Fantasy,Fantasy,Romance,Fantasy,...","Romance, Romance, Fantasy, Fantasy, Fantasy, F...",Romance,Romance,Fantasy,Fantasy
8987,9997,208324,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,Means of Ascent,eng,...,3389,6972,"Robert A. Caro's life of Lyndon Johnson, which...",592,"Biography,History,Politics,Nonfiction,Politics...","Nonfiction, History, Biography, Politics, Poli...",Nonfiction,History,Biography,Politics
8988,9998,77431,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,The Mauritius Command,eng,...,4240,5180,"""O'Brian's Aubrey-Maturin volumes actually con...",365,"Historical,Historical Fiction,Fiction,Historic...","Fiction, Historical, Historical, Historical Fi...",Fiction,Historical,Historical,Historical Fiction
8989,9999,8565083,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Cinderella Ate My Daughter: Dispatches from th...,eng,...,4577,2375,The acclaimed author of the groundbreaking bes...,245,"Nonfiction,Parenting,Feminism,Psychology,Socio...","Nonfiction, Psychology, Sociology, Feminism, P...",Nonfiction,Psychology,Sociology,Feminism

In [89]:
merged_df.to_csv('data/books_limpio.csv')